<% @body_id = 'signup' %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>

<div id="new-customer">
  <h4 class="text_blue"><%= Spree.t(:new_customer) %></h4>

  <div data-hook="signup">
    <%= form_for resource ? resource : Spree::User.new, :as => :spree_user, :url => spree.registration_path(user) do |f| %>
      <div data-hook="signup_inside_form">
        <%= render :partial => 'spree/shared/user_form', :locals => { :f => f } %>
        <%= f.submit "Create My Account", :class => 'button_orange pull-left' %>
      </div>
    <% end %>
  </div>

</div>

<div data-hook="login_extras"></div>