<!DOCTYPE html>
<html>
<head>
  <title>Template</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <%= render :partial => "/layouts/menu" %>
</div>
<div class="main row">
  <%= yield %>
</div>
<div class="row footer">
  <%= render :partial => "/layouts/footer" %>
</div>
</body>
</html>
